.team {
    background-image: url('https://biteable.com/content/uploads/2018/03/Background-Videos-for-Your-Homepage-SM-1200x630-c-center.jpg');
    padding-top:1.5cm;
}

  .team1{
      padding-top: 0.5cm;
  }